<a href="https://colab.research.google.com/github/sairithwikredddy/AIML/blob/main/XL_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_excel("/content/excel1.xlsx")
print(data)

    STUDENT ID STUDENT NAME         STUDENT COURSE   STUDENT AGE   \
0   2403A52400         AKHIL                     OS            19
1   2403A52400           SAI                   AIML           118
2   2403A52400   SAI SHANKAR                   STML            17
3   2403A52400       SOHAIL                    JAVA            20
4   2403A52400         MANOJ                      C            21
5   2403A52400        SHIVA                     C++            20
6   2403A52400       HARSHA                    HTML            19
7   2403A52400     RAVITEJA                     SQL            18
8   2403A52400          ABHI                 PYTHON            18
9   2403A52400       MAHESH              ALGORITMS             20
10  2403A52400        RAKESH        WEB DEVOLOPMENT            21
11  2403A52400         SURAJ       MACHINE LEARNING            18
12  2403A52400       THARUN           DATA SCIENCE             19
13  2403A52400         VIKAS     OPP'S THROUGH C ++            18
14  2403A52400          AJAY   SOFTWARE ENGINEERING            19
15  2403A52400      MADHUKAR           LIFE SKILLS             17
16  2403A52400     SAI TEJA      COMPUTER NETWORKS             19
17  2403A52400        RITHIK  COMPUTER ARCHITECTURE            20
18  2403A52400     YESHWANTH       COMPILER DESIGN             21
19  2403A52400       KOWSHIK            JAVA SCRIPT            19

    STUDENT CONTACT
0        9849674120
1        9849674121
2        9849674123
3        9849674124
4        9849674125
5        9849674126
6        9849674127
7        9849674128
8        9849674129
9        9849674131
10       9849674132
11       9849674133
12       9849674135
13       9849674138
14       9849674139
15       9849674140
16       9849674145
17       9849674155
18       9849674158
19       9849674138